/*
	Released for free under a Creative Commons Attribution 2.5 License
   Modified by John Weis
*/

/* Basic */

*
{
	margin: 0em;
	padding: 0em;
}

h1,h2
{
}

body
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #666;
	background-color: #fff;
}

a
{
	color: #0077dd;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

/* Outer */

#outer
{
	padding: 0em;
	margin: 0em;
	width: 100%;
}

/* Header */

#header
{
	position: relative;
	background: #004778 bottom left repeat-x;
	height: 10em;
	padding-left: 2em;
}


#header h1
{
	position: relative;

}

#header h1 a
{
	color: #fff;
	text-decoration: none;
}

#header h2
{
	position: absolute;
    left: 300px;
	font-size: 0.8em;
	top: 8em;
	color: #E0E8EF;
}

#appName 
{
	padding-top: 2.5em;
	padding-left: 1em;
	font-size: 1.25em;
	
}

#logo
{	
	padding: 1em;
	float: left;
	text-decoration: none;
    border: 0;
}


/* Menu */

#login
{
	position: absolute;
	top: 5em;
	right: 3em;
	color: white;
}

#login a{ 
	color:fff;
}

#menu
{
	position: absolute;
	top: 10em;
	right: 1em;
}

#menu ul
{
	list-style: none;
}

#menu li
{
    text-align: right;
	display: inline;
	padding-left: .5em;
	margin-left: 0.5em;
	border-left: solid 1px #0008EF;
}

#menu li.first
{
	border: 0em;
	margin-left: 0em;
	padding-left: 0em;
}

#menu li a
{
	color: #000;
	padding: 0.1em;
    font-size: large;
    font: bold;
	text-decoration: none;
}

#menu li a:hover
{
	text-decoration: underline;
}

#lmenu
{
	position: absolute;
	top: 10em;
	left: 1em;
}

#lmenu ul
{
	list-style: none;
}

#lmenu li
{
    text-align: right;
	display: inline;
	padding-left: .5em;
	margin-left: 0.5em;
	border-left: solid 1px #0008EF;
}

#lmenu li.first
{
	border: 0em;
	margin-left: 0em;
	padding-left: 0em;
}

#lmenu li a
{
	color: #000;
	padding: 0.1em;
    font-size: large;
    font: bold;
	text-decoration: none;
}

#lmenu li a:hover
{
	text-decoration: underline;
}

/* Content */

#content
{
	line-height: 1.5em;
}


#content p
{
	margin-bottom: 1.5em;
}

#content h2,h3,h4,h5,h6
{
	color: #545454;
	margin-bottom: 1em;
	border-bottom: dashed 1px #dfdfdf;
	padding-bottom: 0.3em;
}

#content h2
{
	font-size: 1.5em;
}

#content h3
{
	font-size: 1.1em;
}

#content ul
{
	margin-bottom: 1.5em;
	padding-left: 1em;
	list-style: square;
}

#content blockquote
{
	margin-bottom: 1.5em;
	padding: 0.75em 0.75em 0.75em 1.5em;
	border-left: solid 0.75em #005082;
	background: #FDFDFD top left repeat-x;
}

#content blockquote p
{
	margin-bottom: 0em;
}

#content table
{
	margin-bottom: 1.5em;
	border-collapse: collapse;
	text-align: left;
}

#content table th
{
	font-weight: bold;
	padding: 0.5em;
}

#content table td
{
	padding: 0.5em;
	border-right: solid 1px #fff;
}

#content table tr.rowH
{
	color: #fff;
	background: #006192 top left repeat-x;
	border-right: solid 1px #fff;
}

#content table tr.rowA
{
	background: #F8F8F8 top left repeat-x;
	border-top: solid 1px #fff;
	color: inherit;
}

#content table tr.rowB
{
	background: #FDFDFD top left repeat-x;
	border-top: solid 1px #fff;
	color: inherit;
}

/* Primary Content */

#primaryContentContainer
{
  
	background-color: #fff;
	float: right;
	margin: 0em 10% 0em 10%;
	width: 100%;
}

#primaryContent
{
#  position: relative;
#  left: 0px;
	margin: 1.5em 8em 0em 17.25em;
	padding: 1.5em 2em 1.5em 2em;
}

/* Left Menu */

#leftMenu
{
	position: relative;
	float: left;
	width: 3%;
	padding: 3em 2em 1.5em 2em;
	background: #fff top right repeat-y;
}

#leftMenu .xbg
{
	position: absolute;
	right: 0em;
	bottom: -64px;
	background: #fff top right no-repeat;
	height: 64px;
	width: ;
}

/* Tertiary Content */

#rightMenu
{
	position: absolute;
	right: 0.5em;
    bottom: 1em;
	width: 20em;
	padding: 1em 1em 1.5em 2em;
	background: #fff top left repeat-y;
}

#rightMenu h2
{
	color: #545454;
    font-size: 12pt;
	border-bottom: dashed 1px #dfdfdf;
	padding-bottom: 0.3em;
}

#rightMenu ul
{
	list-style: none;
}

#rightMenu li
{
    text-align: left;
	#display: inline;
	padding: .25em .25em 0em 0em;
	margin-left: 0.5em;
	background: #eee top left no-repeat;
	#border-left: solid 1px #0008EF;
	list-style: square;
}

#rightMenu .xbg
{
	position: absolute;
	left: 0em;
	bottom: -64px;
	background: #fff top left no-repeat;
	height: 64px;
	width: 128px;
}

/* Footer */

#footer
{
	position: absolute;
    text-align: center;
    left: 150px;
    bottom: -200px;
    width: 80%;
    z-index: 1;
    border-top: dashed 2px #dfdfdf;
	padding: 1em 0em 1em 0em;
	margin: 1em 1em 0em 1em;
}


.clear
{
	clear: both;
}

.myerrors
{ 
	color:red;
	}
	
.autoexpandbox{
	width: 400px;
	line-height: 16px;
	min-height: 42px;
	height: 42px;
}


#loginForm{
	text-align: right;
}

.linkEntries{
	background: #cccccc top left repeat-x;
	position: absolute;
	left: 1em;
  width: 200px;
  top: 190px;
}
