/*
	Released for free under a Creative Commons Attribution 2.5 License
   Modified by John Weis
*/

/* Basic */

*
{
	margin: 0em;
	padding: 0em;
}

h1,h2
{
}

body
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #666;
	background-color: #fff;
}

a
{
	color: #0077dd;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

/* Outer */

#outer
{
    overflow: auto; /* for floats */
	padding: 0em;
	margin: 0em;
	width: 100%;
}

/* Header */

#header
{
	position: relative;
	background: #004778 bottom left repeat-x;
	height: 10em;
}


#header h1
{
	position: relative;
}

#header h1 a
{
	color: #fff;
	text-decoration: none;
}

#appName 
{
	margin-left: 150px;
	padding-top: 2em;
	color: #E0E8EF;	
}

#header h3
{
    margin-left: 17em;
	font-size: 1em;
	color: #E0E8EF;	
	border-bottom: none;
}

#appName h2
{
    margin-top: 0.5em;
    margin-left: 4em;
	font-size: 1.25em;
	color: #E0E8EF;	
}


#logo
{	
    position: absolute;
    top: 0;
    left: 0;
	padding-top: 0.25em;	
	padding: 0.25em;
	text-decoration: none;
    border: 0;
}


/* Menu */

#login
{
	position: absolute;
	top: 5em;
	right: 3em;
	color: white;
}

#login a{ 
	color:fff;
}

#actionsMenu
{
	position: absolute;
	top: 9em;
	right: 1em;
	color: #fff;
	font-weight: bold;
	font-size: small;
}

#actionsMenu ul
{
	list-style: none;
}

#actionsMenu li
{
	color: #fff;	
   text-align: right;
	display: inline;
	padding-left: .5em;
	margin-left: 0.5em;
	border-left: solid 1px #fff;
	color: #fff;
}

#actionsMenu li.first
{
	border: 0em;
	margin-left: 0em;
	padding-left: 0em;
}

#actionsMenu li a
{
	color: #fff;
	padding: 0.1em;
	text-decoration: none;
}

#actionsMenu li a:hover
{
	text-decoration: underline;
}

#lmenu
{
	position: relative;
	margin: 1em 0;
	border-bottom: dashed 2px #dfdfdf;
	width: 100%;

}

#lmenu ul
{
	list-style: none;
}

#lmenu li
{
   text-align: right;
	display: inline;
	padding-left: .5em;
	margin-left: 0.5em;
	border-left: solid 1px #0008EF;
}

#lmenu li.first
{
	border: 0em;
	margin-left: 0em;
	padding-left: 0em;
	text-transform: uppercase;
}

#lmenu li a
{
	color: #004778;
	padding: 0.1em;
   font-size: large;
   font: bold;
	text-decoration: none;
	text-transform: uppercase;
}

#lmenu li a:hover
{
	text-decoration: underline;
	text-transform: uppercase;
	color: #000;
}


/* Content */

#content
{
    overflow: auto; /* for floats */
    margin-left: 150px;
    margin-right: 350px;
	line-height: 1.5em;
}


#content p
{
	margin-bottom: 1.5em;
}

#content h2,h3,h4,h5,h6
{
	color: #545454;
	margin-bottom: 1em;
	border-bottom: dashed 1px #dfdfdf;
	padding-bottom: 0.3em;
}

#content h2
{
	font-size: 1.5em;
}

#content h3
{
	font-size: 1.1em;
}

#content ul
{
	margin-bottom: 0.25em;
	padding-left: 1em;
	list-style: square;
}

#content blockquote
{
	margin-bottom: 1.5em;
	padding: 0.75em 0.75em 0.75em 1.5em;
	border-left: solid 0.75em #005082;
	background: #FDFDFD top left repeat-x;
}

#content blockquote p
{
	margin-bottom: 0em;
}

#content table
{
	margin-bottom: 1.5em;
	border-collapse: collapse;
	text-align: left;
}

#content table th
{
	font-weight: bold;
	padding: 0.5em;
}

#content table td
{
	padding: 0.5em;
	border-right: solid 1px #fff;
}

#content table tr.rowH
{
	color: #fff;
	background: #006192 top left repeat-x;
	border-right: solid 1px #fff;
}

#content table tr.rowA
{
	background: #F8F8F8 top left repeat-x;
	border-top: solid 1px #fff;
	color: inherit;
}

#content table tr.rowB
{
	background: #FDFDFD top left repeat-x;
	border-top: solid 1px #fff;
	color: inherit;
}

/* Primary Content */

#primaryContentContainer
{
	background-color: #EFF0DF;
}

#primaryContent
{
    position: relative;
    left: 0px;
	padding: 1em 1em 1em 1em;
	background-color: #DAE8F7;
	color: #43484C;
}

/* Left Menu */

#leftMenu
{
	position: relative;
	float: left;
	width: 3%;
	padding: 3em 2em 1.5em 2em;
	background: #fff top right repeat-y;
}

#leftMenu .xbg
{
	position: absolute;
	right: 0em;
	bottom: -64px;
	background: #fff top right no-repeat;
	height: 64px;
	width: ;
}

/* Tertiary Content */

#rightMenu
{
    position: absolute;
    top: 10em;
    right: 0;
	width: 300px;
    margin-top: 4em;
	padding: 1em 1em 1.5em 2em;
	background: #fff top left repeat-y;
}

#rightMenu h2
{
	color: #545454;
    font-size: 12pt;
	border-bottom: dashed 1px #dfdfdf;
	padding-bottom: 0.3em;
}

#rightMenu ul
{
	list-style: none;
}

#rightMenu li
{
    text-align: left;
	display: inline;
	padding: .25em .25em 0em 0em;
	margin-left: 0.5em;
	background: #eee top left no-repeat;
	border-left: solid 1px #0008EF;
	list-style: square;
}

#rightMenu .xbg
{
	position: absolute;
	left: 0em;
	bottom: -64px;
	background: #fff top left no-repeat;
	height: 64px;
	width: 128px;
}

/* Footer */

#footer
{
    clear: both;
    text-align: center;
    width: 100%;
    border-top: dashed 2px #dfdfdf;
    padding: 1em 0em 1em 0em;
    margin: 0em 1em 0em 0em;
}

#poweredBy
{
	 text-align: center;
	 text-decoration: none;
}

#poweredBy a
{
	 text-decoration: none;
}


.clear
{
	clear: both;
}

.myerrors
{ 
	color:red;
	}
	
.autoexpandbox{
	width: 400px;
	line-height: 16px;
	min-height: 42px;
	height: 42px;
}


#loginForm{
	text-align: right;
}

.linkEntries{
	background: #cccccc top left repeat-x;
	position: absolute;
	left: 1em;
	width: 200px;
	top: 190px;
}

#speaker{
   border-bottom: solid 2px #dfdfdf;
	padding: .25em .25em 0em 0em;
}

#speakerImg{
    position: relative;
    top: 0.25em;
}

