
* { margin:0; padding:0; }
html, body { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; letter-spacing:1px; }
p { line-height:16px;}
a img { border:none; }
a { outline:none; text-decoration:none; font-size:10px; color:#0000ee; }
a:hover { color:#0085cf; }

.clear { clear:both; }
.lclr { clear:left; }
.rclr { clear:right; }

h1, h2, h3, h4, h5, h6 { margin:15px 0; color:#204281;  }
h1.first, h2.first, h3.first, h4.first, h5.first, h6.first { margin-top: 0; }

h2 { font-size:36px; }
h3 { font-size:30px; }


body { background:url('../img/body-bg.jpg') top left repeat-x #b3b3b3; }

#body { width:900px; margin:0 auto; }

#header { width:900px; height:180px; }
#header .left { float:left; width:578px; height:180px; }
#header .logo h1 { position:relative; width:578px; height:120px; margin:0; }
#header .logo h1 span { position:absolute; height:100%; width:100%;  background:url(../img/logo-top.gif) top left no-repeat; }
#header .logo h3 { position:relative; width:578px; height:60px; margin:0; }
#header .logo h3 span { position:absolute; height:100%; width:100%;  background:url(../img/logo-bottom.gif) top left no-repeat; }
#header .right { float:right; width:322px; height:180px; background:url(../img/header-right.jpg) top left no-repeat; }
#header .crown { float:right; width:228px; height:22px; padding-top:4px; background:url(../img/crown-bg.png) top left no-repeat; text-align:center; font-size:12px; letter-spacing:1px; color:#ffffff; }
#header .crown a { text-decoration:none; color:#ffffff; }
#header .crown a:hover { color:#fddcc3; }

#mainNav { width:900px; height:44px; background:url(../img/mainNav-bg.png) top left repeat-x; padding-bottom:22px; }
#mainNav .pad { width:100%; height:100%; background:url(../img/mainNav-right.png) top right no-repeat; }
#mainNav ul { width:880px; padding:0 10px; height:44px; background:url(../img/mainNav-left.png) top left no-repeat; list-style:none; }
#mainNav li { float:left; }
#mainNav a { display:block; padding:12px 10px 0 12px; height:32px; font-size:12px; font-weight:bold; background:url(../img/mainNav-separator.png) top left no-repeat; color:#ffffff; text-decoration:none; }
#mainNav a:hover { color:#fddcc3; }
#mainNav .first a { background:none; }

#page { width:870px; padding:15px; background:url(../img/paper-top.png) top left no-repeat #ffffff;  }
#page .top { width:100%; padding-bottom:15px; }
#page .right { float:right; width:250px; }
#page .bottom { clear:both; width:900px; height:1px; }

#sidebar h3 { font-weight:bold; font-size:18px; color:#96682c; }
#sidebar .group { padding:0 5px 10px 5px; width:115px; float:left; text-align:center; font-size:10px; font-weight:bold; vertical-align:baseline; min-height:78px; }

#content { width:605px; }

#footer { width:900px; padding:40px 0 20px 0;  background:url(../img/paper-bottom.png) top left no-repeat; text-align:center; }

