<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
	Moded out by John P. Weis
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>UTOSC 2008 | HOWTO - {% block title %}{% endblock title %}</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
		{% block additionalCSS %}
 		{% endblock additionalCSS %}
		<script type="text/javascript" src="/static/js/jquery-1.2.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-passwordstrength.min.1.1.js"></script>
		<script type="text/javascript" src="/static/js/jquery-autoexpand.1.02.js"></script>
	</head>
	<body>
	<div id="outer">
		<div id="header">
			<div id="logo">
				<img src="/static/img/utosc_howto_large.png" alt="ConMan rocks!" />
			</div>
			<div id="appName">		
				<h1><a href="/pages/home/">Utah Open Source Conference 2008</a></h1>
				<h2>HOWTO... &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; August 28 - 30, 2008</h2>
			 </div>	
			 <div id="actionsMenu">
				<ul>
				{% if user.is_authenticated %}
					<li class="first"> Welcome, {{ user.username }} </li>
					<li> <a href="/accounts/profile/" accesskey="2" title="">Profile</a></li>
				{% else %}
					<li class="first"><a href="/accounts/login/" accesskey="2" title="">Login</a></li>
					<li><a href="/accounts/register/" accesskey="2" title="">Create Account</a></li>
				{% endif %}
					<li><a href="/speaker/papers/" accesskey="2" title="">Submit Paper</a></li>
<!--				<li><a href="/volunteer/" accesskey="3" title="">Call for Volunteers</a></li>
					<li><a href="/contact/" accesskey="5" title="">Contact Us</a></li>
-->
				{% if user.is_authenticated %}
					<li><a href="/accounts/logout/" accesskey="2" title="">Logout</a></li>
				{% endif %}
				</ul>
			</div>
		</div>

	<div id="content">
		<div>
			<div id="lmenu">
				{% load flatpages_links %}
				{% show_flatpages %}
			</div>
		</div>
		<div id="primaryContentContainer">
			<div id="primaryContent">
				{% block primaryContent %}				
				{% endblock primaryContent %}
			</div>
		</div>
	</div>
	<div id="rightMenu">
			{% block rightMenu %}
			<h1>Sponsors</h1>
			<br />
			<h2>Diamond</h2>
			<a href='http://knowledgeblue.com' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/knowledgeblue_logo_sm.jpg' /></a>
			<br /><br />
			<h2>Sapphire</h2>
			<a href='http://xmission.com' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/logos_xmission_sm.jpg' /></a>
			<br /><br />
			<h2>Emerald</h2>
			<a href='http://goed.utah.gov' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/goed_sm.jpg' /></a>
			<br /><br />
			<a href='http://utahopentech.com' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/utah_opentech_md.jpg' /></a>
			<br /><br />
			<a href='http://tierfour.com' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/TierFourLogo_sm.gif'></a>
			<br /><br />
			<h2>Location</h2>
			<a href='http://slcc.edu' target='_new'><img border='0' src='http://www.slcc.edu/webmedia/slcc_logo/png/slcc_logo_4clr_75x200.png'/></a>
			<br /><br />
			<h2>Hosting</h2>
			<a href='http://neverblock.com' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/neverblock_logo_sm.png'></a>
			{% endblock rightMenu %}
	</div> 
	<div id="footer"> 
		<div id="poweredBy"> 
				<a href='http://code.google.com/p/utos-conman/' target='_base'>
					<img align="top" src="/static/img/conman.png"  border='0' alt="ConMan rocks!" />
				</a>
				<br />
				<a href='http://code.google.com/p/utos-conman/' target='_base'> Powered by ConMan </a>
		</div>
 	</div>  
</div>

<!-- Start of StatCounter Code 
<script type="text/javascript">
var sc_project=2875999; 
var sc_invisible=1; 
var sc_partition=29; 
var sc_security="9a3312a4"; 
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a href="http://www.statcounter.com/free_hit_counter.html" target="_blank"><img class="statcounter" src="http://c30.statcounter.com/2875999/0/9a3312a4/1/" alt="counter" ></a></div></noscript>
 End of StatCounter Code -->

</body>
</html>
