<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
	Designed by Emily Shaw <memilyrae@gmail.com>
	Modded out by Adam Barrett <admin@utahcon.com> and Victor Villa <vvilla@gmail.com>
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>UTOSC 2009 | (Afford|Scal|Reli)Ability - {% block title %}{% endblock title %}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	{% block additionalCSS %}
 	{% endblock additionalCSS %}
	<script type="text/javascript" src="/static/js/jquery-1.2.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-passwordstrength.min.1.1.js"></script>
	<script type="text/javascript" src="/static/js/jquery-autoexpand.1.02.js"></script>
	{% block additionalJS %}
 	{% endblock additionalJS %}
</head>
<body>

{% block nonFlowDivs %}
{% endblock nonFlowDivs %}

<div id="omni">
<div id="body">
	<div id="header">
		<div class="left">
			<div class="logo">
				<h1><span></span> Utah Open Source Conference</h1>
				<h3><span></span>( avail | scala | reli ) ability</h3>
			</div>
		</div>
		<div class="right">
			{% if not user.is_authenticated %}
			<div class="crown"><a href="#">Create Account</a> / <a href="#">Login</a></div>
			{% else %}
			<div class="crown"><a href="/accounts/profile/" accesskey="2" title="">Profile</a> / Welcome, {{ user.username }}</div>
			{% endif %}
		</div>
	</div>
	<div id="mainNav">
		<div class="pad">
			<ul>
			{% load flatpages_links %}
	        {% show_flatpages %}
			{% if user.is_authenticated %}
				<li><a href="/accounts/logout/" accesskey="2" title="">Logout</a></li>
				<li><a href="/speaker/papers/" accesskey="2" title="">Submit/Manage Abstract</a></li>
			{% endif %}
		
			</ul>
		</div>
	</div>

	<div id="page">
		<div class="top">
			{% load update_tags %}
			{% latest_update %}
		</div>
		<div id="sidebar" class="right">
        	<div id="sponsors">
				{% block rightMenu %}
				{% load sponsor_list %}
				{% show_sponsors %}
				{% endblock rightMenu %}
<!--
                <a href="#"><img src="/static/img/sponsors/xmission-sidebar.jpg" /></a>
                <h3>Emerald Sponsor</h3>
                <a href="#"><img src="/static/img/sponsors/goed-sidebar.jpg" /></a>
                <h3>Media</h3>
				<a href="#"><img src="/static/img/sponsors/linuxmagazinepro-sidebar.jpg" /></a>
-->
            </div>
            <div id="groups">
				{% block leftMenu %}
				<h3>Local User Groups</h3>
				{% load lug_list %}
				{% show_lugs %}
				{% endblock leftMenu %}
            </div>
        </div>
	<div id="content">
    
	
	<!-- eo: bigbluebox -->

	<div id="wrapper-left">
		<div id="wrapper-right">
			<div class="contentbox">
				<div class="rightcontent">
				</div>
		<!-- eo: rightcontent -->

				<div class="centercontent">
					{% block primaryContent %}
					{% endblock primaryContent %}
				</div>
				<!-- eo: centercontent -->

				<div class="leftcontent">
					<h2>In The Past</h2>
					<ul>
						<li><a target="_new" href="http://2008.utosc.com">UTOSC 2008</a></li>
					</ul>
				</div>
			</div>

			
		</div>
	</div>
	</div>
	<div class="bottom"></div>

	</div>
	<!-- eo: page -->
	 <div id="footer">
		<a href="http://code.google.com/p/utos-conman/" target="_blank">
			<img src="/static/img/conman.gif" alt="ConMan - Conference Management Software" /><br />
			Powered by ConMan
		</a>
	</div>

</div>
<!-- eo:body -->
</div>
<!-- eo:omni -->

</body>
</html>
