{% extends "base.html" %}

{% block title %}Home{% endblock title%}
{% block additionalCSS %}		<link href="/static/css/blog.css" rel="stylesheet" type="text/css" />{% endblock additionalCSS %}

{% block primaryContent %}
<h2>Welcome to UTOSF Confrence Manager 2008</h2>
<p>Here is a description of the home page...</p>

<!--This should be looped over using the  for statement  in Django -->
{% for p in posts %}
<div class="blogEntry" >
	<div> 
		<div class="blogUserProfile">

				<img class="blogUserImage" src="{{ p.pic }}." />
				<div class="blogUserName">{{ p.username }}</div>
				<div class="blogUserEmail">{{ p.email }}</div>

		</div>
		
		<span class="blogEntryTitle">Blog Title</span> <span class="blogCreatedDate"> written on 12/12/1203</span>	
		<span class="blogTags"> <!-- Should be looping here over each object in the tags --> <a>One Fish</a>, <a>Two Fish</a> </span>
		
		<div class="blogText">"…neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
		 tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis 
		 suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil 
		 molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"…neque porro quisquam est, qui dolorem ipsum quia dolor sit
		 amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
		 Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
		 Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
		 voluptas nulla pariatur?</div>
		
		<span class="blogIncludedFiles"> <!--Should be looping here over each object in the files getting the urls and making links out of them --> </span>
	</div>
</div>
{% endfor %}
<!--This should be looped over using the for statement  in Django -->

{% endblock primaryContent%}

djangoproject.com/documentation/forms/
