{% extends "base.html" %}

{% block title %}Home{% endblock title%}

{% block primaryContent %}
      <h2 style="margin-top: -10px">Utah Open Source Conference 2008</h3>
      <h3 style="margin-top: 7px">This Year's Theme: HOWTO...</h4>

<p>The idea is that within the technology, education, community and business tracks, there will be plenty to talk about.</p>
<ul>
	<li>HOWTOs will help others get started</li>
	<li>HOWTOs will help families use open source together</li>
	<li>HOWTOs will provide a stepping stone along the road to technology mastery</li>
	<li>HOWTOs will let those that are masters get together and make the products better.</li>
</ul>
<p>There are many more things that the theme <strong>HOWTO</strong> will accomplish during the Utah Open Source Conference (UTOSC) 2008.</p>

<p>Because 2007 was such a grand success, we've made some minor changes and improvements to help with a smoother conference. This year's conference has moved location and added a full day on Thursday.</p>

<p><strong>The Utah Open Source Conference 2008 will be held at the Salt Lake Community College, Redwood Road campus from August 28 - 30, 2008.</strong></p>

<p>The Salt Lake Community College Computer Science department is excited to be a sponsor of the 2008 conference and will be using it to improve students' awareness and understanding of open source software.</p>

<p>The Utah Open Source Foundation is also rededicating itself to ensure the pricing structure remains reasonable for those who'd like to come and are on a budget. The pricing structure right now is tentative, but no <strong>major </strong>increases in the fees are planned for attendees.We currently have a tentative plan on our wiki, feel free to have a look. If you have suggestions, please feel free to join the chat at #utos on irc.freenode.net or email clints at utos dot org with your comments.</p>

<p>See you all in August.</p>

<p>Clint Savage<br />
Founder, Utah Open Source Foundation</p>

{% endblock primaryContent%}

djangoproject.com/documentation/forms/
