        <p><strong>LUGs</strong></p>
        <ul>
            <li><a target="_blank" href="http://www.sllug.org/" title="Salt Lake Linux Users Group (SLLUG) in SLC"><img src='http://dl.utosc.com/08/logos/sllug_logo_sm.png' border='0'/></a></li>
            <li><a target="_blank" href="http://plug.org/" title="Provo Linux Users Group (PLUG)"><img src='http://dl.utosc.com/08/logos/plug_logo_sm.png' border='0'/></a></li>
            <li><a target="_blank" href="http://www.su3g.org"><img src='http://dl.utosc.com/08/logos/su3g_logo_sm.jpg' border='0'/></a></li>
            <li><a target="_blank" href="http://uug.byu.edu/" title="BYU Unix Users Group"><img src='http://dl.utosc.com/08/logos/byu3g_logo_sm.gif' border='0'/></a></li>
            <li><a target="_blank" href="http://utah.ubuntu-us.org/" title="Ubuntu Linux Utah"><img src='http://dl.utosc.com/08/logos/ubuntu-utah_logo_sm.png' border='0'/></a></li>
            <li><a target="_blank" href="http://urug.org/" title="Utah Ruby Users Group"><img src='http://dl.utosc.com/08/logos/urug_logo.png' border='0'/></a></li>
            <li><a target="_blank" href="http://www.oalug.com/" title="Ogden Area Linux Users Group"><img src='http://dl.utosc.com/08/logos/oalug_logo_sm.png' border='0'/></a></li>
            <li><a target="_blank" href="http://utahdnug.org/" title="Utah's Professional .Net User Group (UDNUG)"><img src='http://dl.utosc.com/08/logos/udnug_logo_sm.gif' border='0'/></a></li>
            <li><a href="http://uvlug.org/" title="Utah Valley Linux Users Group in Orem (UVSC)"><img src='http://dl.utosc.com/08/logos/uvlug_logo_sm.jpg' border='0'/></a></li>
            <li><a target="_blank" href="http://gubug.org/" title="Greater Utah BSD Users Group">GUBUG</a></li>
            <li><a target="_blank" href="http://utahpython.org/" title="Utah Python Users Group">UtahPython</a></li>
            <li><a target="_blank" href="http://fslc.usu.edu/" title="USU Free Software and Linux CLub (USU FSLC)">FSLC at USU</a></li>
            <li><a target="_blank" href="http://uphpu.org/" title="Utah PHP Users Group (UPHPU)">UPHPU</a></li>
            <li><a target="_blank" href="http://www.ujug.org/" title="Utah Java Users Group">UJUG</a></li>
        </ul>

<p>Don't see your LUG here?  <a href="mailto:clint@utos.org">Let us know!</a></p>
			
