{% extends "profile.html" %}

{% block title %}Call for Papers{% endblock title%}


{% block primaryContent %}
<h2>Call for Papers</h2>
<script type="text/javascript">
$(document).ready(function(){
	$('#id_password').pstrength();
	$('#id_short_abstract').autogrow();
	$('#id_bio').autogrow();
	});
</script>

{% block profileWrapper %}

	
		<h2>Speaker Profile</h2>
			<table> 
				{% for field in presenter_form %}
					<tr>
				    <td>{{ field.label_tag }}</td>
				    <td>{{ field }}</td>
				   </tr>
				{% endfor %}
				
				
			</table>
	
	
{% endblock profileWrapper %}

{% endblock primaryContent%}