			{% for sponsor in sponsors %}
				{% ifchanged sponsor.level %}
					<br />
					<h2>{{ sponsor.level }}</h2>
				{% endifchanged %}
					<br />
					<a href='{{ sponsor.url }}' target='_new'><img border='0' src='{{ sponsor.sm_logo}}' /></a>
			<br />
			{% endfor %}


<!--
			<h2>UTOSC 2008 Sponsors</h2>
			<br />
			<h3>Diamond</h3>
			<a href='http://knowledgeblue.com' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/knowledgeblue_logo_sm.jpg' /></a>
			<br />
			<a href='http://www.mozy.com/' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/mozyemc_sm.png' /></a>
			<br />
			<h3>Sapphire</h3>
			<a href='http://xmission.com' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/logos_xmission_sm.png' /></a>
			<br /><br />
			<h3>Emerald</h3>
			<a href='http://goed.utah.gov' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/goed_sm.png' /></a>
			<br />
			<a href='http://utahopentech.com' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/utah_opentech_sm.png' /></a>
			<br />
			<a href='http://tierfour.com' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/Tier_Four_Logo_sm.png'></a>
			<br /><br />
			<h3>General</h3>
			<table width='225' align='center' border='0'>
			  <tr>
				<td><a href='http://www.google.com/' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/google_logo_sm.jpg'></a></td>
				<td width='25'></td>
				<td><a href='http://www.activestate.com/' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/activestate_xsm.gif'></a></td>
			  </tr>
			</table>
			<br />
			<h3>Location</h3>
			<a href='http://slcc.edu' target='_new'><img border='0' src='http://www.slcc.edu/webmedia/slcc_logo/png/slcc_logo_4clr_75x200.png'/></a>
			<br /><br />
			<h3>Hosting</h3>
			<a href='http://neverblock.com' target='_new'><img border='0' src='http://dl.utosc.com/08/logos/neverblock_logo_sm.png'></a>
-->
