{% extends "base_forms.html" %}

{% block title %}2009 Sponsors{% endblock title%}


{% block primaryContent %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_password').pstrength();
	$('#id_short_abstract').autogrow();
	$('#id_bio').autogrow();
	});
</script>
<h2>2008 Sponsors</h2>
	{% for sponsor in sponsors %}
        <div id="showSponsors">
		{% ifchanged sponsor.level %}
                <h3>{{ sponsor.level }}</h3>
		{% endifchanged %}
                <div id="sponsor_{{ sponsor.level }}">
                    <a href="{{ sponsor.url }}" target="_new"><img
                        border="0" src="/static/{{ sponsor.lg_logo }}" 
                        alt="{{ sponsor.company }}" style="float: left;padding:
                        3px;"/></a>a
                    <span>{{ sponsor.about }}</span>
                </div>
        </div>
	{% endfor %}
{% endblock primaryContent%}

