{% extends "base_forms.html" %}

{% block title %}Presentations for room #{{ extra }}{% endblock title%}

{% block primaryContent %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_password').pstrength();
	$('#id_short_abstract').autogrow();
	$('#id_bio').autogrow();
	});
</script>

<h2>Speakers for room #{{ extra }}</h2>
<p>Feel free to check out the <a href="/presentation/schedule/">full schedule</a> as well as <a href="/speaker/list/">ordered by speaker</a>.</p>
			
		{% for pres in presentations %}
			{% ifchanged pres.start %}
			<b><font size="3">{{pres.start|date:"g:i a"}}</font></b><br />
			{% endifchanged %}
	<div id='presentation'> 
		    <font size="+1"><a href='/presentation/{{ pres.id }}/'>{{ pres.title }}</font></a><br />
			<a href="/speaker/{{ pres.presenter.user.id }}/"><font size="-2">{{ pres.presenter }}</font></a> {% if pres.presenter.company %}<font size='-3'><i>({{ pres.presenter.company }})</i></font>{% endif %}</b><br />
			<br />
	</div>
		{% endfor %}

{% endblock primaryContent%}

