{% extends "base_forms.html" %}
{% load voting_tags %}

{% block title %}Current Presenters{% endblock title%}

{% block additionalCSS %}
<link href="/static/css/show_presentations.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block primaryContent %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_password').pstrength();
	$('#id_short_abstract').autogrow();
	$('#id_bio').autogrow();
	});
</script>

<h2>Presentations for category: {{ extra.name }}</h2>
<p>{{ extra.description }}</p>

{% for presentation in presentations %}
    {% ifchanged presentation.start %}
		<h3>{{ presentation.start|date:"M d, g:i a" }}</h3>
    {% endifchanged %}
    <div class="presentation {% if forloop.first %}first{% endif %}">
        <div class="title">
			<a href="/presentation/{{ presentation.id }}/">{{ presentation.title }}</a>
        </div>
        <div class="presenter">
            <ul>
            {% for pres in presentation.presenter.all %}
				{% if pres.user.first_name %}
				<li><a href="/speaker/{{ pres.user.id }}/">{{ pres.user.first_name }} {{ pres.user.last_name }}</a></li>
				{% else %}
					<li>{{ pres.user }}</li>
				{% endif %}

            {% endfor %}
            </ul>
        </div>

        {% if presentation.short_abstract %}
            <div class="short_abstract">
            {{ presentation.short_abstract|truncatewords:50 }} 
            </div>
        {% endif %}
<div style="width:100%; clear:right;">

        {% if presentation.start %}
            <span class="start">
			<strong>Start:</strong> <a href="/presentation/schedule/{{ presentation.start|date:"Y-m-d" }}">{{ presentation.start|date:"M d, g:i a" }}</a>
            </span>
        {% endif %}
        {% if presentation.end %}
            <span class="end">
           <strong>End:</strong> {{ presentation.end|date:"M d, g:i a" }} 
            </span>
        {% endif %}
        {% if presentation.location %}
            <span class="location">
				<strong>Room:</strong> <a href="/presentation/location/{{ presentation.location.id }}/">{{ presentation.location }}</a>
            </span>
        {% endif %}
</div>
       <div class="audiences">
            <ul>
            {% for audience in presentation.audiences.all %}
                <li {% ifequal audience.name "Beginner" %}
                    class="beginner"
                    {% endifequal %}
                    {% ifequal audience.name "Intermediate" %}
                    class="intermediate"
                    {% endifequal %}
                    {% ifequal audience.name "Advanced" %}
                    class="advanced"
					{% endifequal %}><a href="/presentation/audience/{{ audience.id }}/">{{ audience.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <!-- not used this year 
        Description: {{ presentation.description }} <br />
        Long: {{ presentation.long_abstract }} <br />
        Slides: {{ presentation.slides }} <br />
        -->
    </div> <!-- end of presentation -->
{% endfor %}

{% endblock primaryContent%}

