{% extends "base_forms.html" %}
{% load voting_tags %}

{% block title %}{{ presentation.title }}{% endblock title %}

{% block additionalCSS %}
{{ block.super }}
<style type="text/css">
    form.voting { display: inline; }
</style>
{% endblock %}

{% block primaryContent %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_password').pstrength();
        $('#id_short_abstract').autogrow();
        $('#id_bio').autogrow();
</script>

<p style="font-size: x-large;">{{ presentation.title }}<br />
{% if presentation.start %}
<br /><font size="-1">Time: {{ presentation.start|date:"M d, g:i a" }}</font>
{% endif %}
{% if presentation.location.name %}
<br /><font size="-1">Location: <a href="http://dl.utosc.com/08/misc/slcc-map2.png" target="__map">{{ presentation.location.name }}</a></font>
{% endif %}
{% if presentation.slides %}
<br /><font size="-1"><a href="/static/{{ presentation.slides }}">slides</a></font>
{% endif %}

</p>

<p>{{ presentation.short_abstract }}</p>
<div id='speaker'> 
    <h4>About {{ spkr_name }}</h4>

    <h5 style="font-size: x-small">
        <a href='/speaker/{{ spkr_id }}/' style="color: #43484C">{{ spkr_name }}</a>
        <em>({{ spkr.company }})</em>
    </h5>

    <div id='speakerImg'> <img src='/static/{{ spkr.user_photo }}'></div>
    <p>{{ spkr.bio }}</p>

	{% ifnotequal presentation.status.name 'Approved' %}
    {% if perms.voting.add_vote or perms.voting.change_vote or perms.voting.delete_vote %}
    <div id="presentation-voting">
        {% vote_by_user user on presentation as vote %}
        {% if vote %}
        <p>You voted <em>{{ vote|vote_display:"for,against" }}</em> this presentation.</p>
        {% else %}
        <p>Vote on this presentation.</p>
        {% endif %}
        <form action="./upvote/" method="post" class="voting">
            <button type="submit">+1</button>
        </form>
        <form action="./clearvote/" method="post" class="voting">
            <button type="submit">reset</button>
        </form>
        <form action="./downvote/" method="post" class="voting">
            <button type="submit">-1</button>
        </form>
    </div>
    {% endif %}
    {% endifnotequal %}

</div>

{% endblock primaryContent %}
