{% extends "base_forms.html" %}

{% block title %}{{ presentation.title }}{% endblock title%}


{% block primaryContent %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_password').pstrength();
	$('#id_short_abstract').autogrow();
	$('#id_bio').autogrow();
	});
</script>

<p><font size='+2'>{{ presentation.title }}</font><br />
<a href='/speaker/{{ spkr_id }}/'><font size='-3' color='#43484C'>{{ spkr_name }}</font></a> <font size='-3'><i>({{ spkr.company }})</i></font></p>
<p>{{ presentation.short_abstract }}</p>
	<div id='speaker'> 
		    About {{ spkr_name }}
			<div id='speakerImg'> <img src='/static/{{ spkr.user_photo }}'></div>
			<p>{{ spkr.bio }}</p>
	</div>

{% endblock primaryContent%}

