{% extends "base_forms.html" %}

{% block title %}Current Presenters{% endblock title%}

{% block primaryContent %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_password').pstrength();
	$('#id_short_abstract').autogrow();
	$('#id_bio').autogrow();
	});
</script>

<h2>Speakers for {{ day|date:"l, F d, Y" }}</h2>
<p>Feel free to check out the <a href="/presentation/schedule/">full schedule</a> as well as <a href="/speaker/list/">ordered by speaker</a>.</p>
			
		{% for pres in presentations %}
			{% ifchanged pres.start %}
               <span class="presentationDate">{{pres.start|date:"g:i a"}}</span>
			{% endifchanged %}

   	        <div id='presentation'>
            <span class="presentationTitle"> 
       		    <a href='/presentation/{{ pres.id }}/'>{{ pres.title }}</a>
            </span>
            
            {% for presenter in pres.presenter.all %}
            <div class="presentationPresenter">
   
            <span class="presentationPresenter">
	    		<a href="/speaker/{{ presenter.user_id }}/">
                   {{ presenter.user.first_name }} {{ presenter.user.last_name }}
                </a> 
            </span>

            {% if presenter.company %}
            <span class="presentationCompany">
               <i>({{ presenter.company }})</i>
            </span>
            {% endif %} 
            </div>
            {% endfor %}
            <br /><br />
        	</div>
		{% endfor %}

{% endblock primaryContent%}

