{% extends "base_forms.html" %}

{% block title %}Call for Papers{% endblock title%}


{% block primaryContent %}
<h2>Call for Volunteers</h2>
{% block formsWrapper %}

	
		<form method="post" action="">
			<dl>
				{% for field in volunteer_form %}
				    <dt>{{ field.label_tag }}</dt>
				    <dd>{{ field }}</dd>
				    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
				    {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
				{% endfor %}
				
				 {{ volunteer_form.firstname.label_tag }} 
				
				
			</dl>
			<input type="submit" value="Submit" />
		</form>
	
	
{% endblock formsWrapper %}

{% endblock primaryContent%}

