{% extends "base_forms.html" %}

{% block title %}Change Your Password{% endblock %}

{% block primaryContent %}

<p>Please enter your old password, for security reasons, and then enter your
new password twice so we can verify you typed it in correctly.</p>

{% block formsWrapper %}

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form action="" method="post">
    <dl>
        <dt>{% if form.old_password.errors %}{{ form.old_password.html_error_list }}{% endif %}<label for="id_old_password"><strong>Old Password:</strong></label></dt>
        <dd>{{ form.old_password }}</dd>
        <dt>{% if form.new_password1.errors %}{{ form.new_password1.html_error_list }}{% endif %}<label for="id_new_password1"><strong>New Password:</strong></label></dt>
        <dd>{{ form.new_password1 }}</dd>
        <dt>{% if form.new_password2.errors %}{{ form.new_password2.html_error_list }}{% endif %}<label for="id_new_password2"><strong>Confirm New Password:</strong></label></dt>
        <dd>{{ form.new_password2 }}</dd>
        <dt><input type="submit" value="Change My Password"></dt>
    </dl>
</form>
{% endblock %}

{% endblock %}
