{% extends "base_forms.html" %}

{% block title %}2009 Sponsors{% endblock title%}


{% block primaryContent %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_password').pstrength();
	$('#id_short_abstract').autogrow();
	$('#id_bio').autogrow();
	});
</script>
<h2>2009 Sponsors</h2>
<h2>How to Sponsor the Utah Open Source Conference 2009</h2>
<p>Sponsorships are being accepted through our sponsorship committee.  By email <a href="mailto:sponsorship@utos.org">sponsorship@utos.org</a>.  Feel free to peruse our sponsorship documents below:</p>
<ul>
  <li><a href='http://files.getdropbox.com/u/149379/docs/utosc2009prospectus.pdf' target='_new'>UTOSC 2009 Prospectus</a></li>
  <li><a href='http://files.getdropbox.com/u/149379/docs/utosc2009sponsorships.pdf' target='_new'>UTOSC 2009 Sponsorships</a></li>
</ul>

<div id="showsponsors">
    {% for sponsor in sponsors %}

    <div class="sponsor" style="clear: both; vertical-align: top;">

        {% ifchanged sponsor.level %}
        <h2 style="font-size: 22px;">{{ sponsor.level }}</h2>
        {% endifchanged %}

        <div id="sponsorimg" id="sponsor{{ sponsor.level|lower }}">
            <a href="{{ sponsor.url }}" target="_new">
                <img border="0" src="/{{ sponsor.lg_logo }}" alt="{{ sponsor.company }}" style="float: left; padding: 5px;"/>
            </a>
        </div>

        <div id="sponsortext">
            <span>{{ sponsor.about }}</span>
        </div>
    </div>
{% endfor %}
</div>

{% endblock primaryContent%}

