{% extends "base_forms.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block primaryContent %}

<p><strong>Forgotten your password?</strong> Enter the e-mail address you gave
us when you signed up and click the "Reset My Password" button below. We will
then reset your password and e-mail the new one to you.</p>
<p>If you do not recieve your new password within a couple minutes, try
checking your Spam folder!</p>

{% block formsWrapper %}

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form action="" method="post">
    {% if form.email.errors %}{{ form.email.html_error_list }}{% endif %}
    <dl>
        <dt><label for="id_email">E-mail Address</label></dt>
        <dd>{{ form.email }}</dd>
        <dt><input type="submit" value="Reset my password"></dt>
    </dl>
</form>

{% endblock %}
{% endblock %}
